body {
  margin: 0;
  background: linear-gradient(0deg, #2f1d3c 1%, #000000 50%);
  width: 100vw;
  height: 100vh;
}

.container-cadastro {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  background-color: transparent;
}
.container-esquerda {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-cadastro {
  height: 250px;
  width: 250px;
}

.texto-logo {
  color: white;
  text-align: center;
}
/*
.container-direita {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}*/
.container-direita {
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  color: white;
  margin: 25px;
}
.header {
  color: white;
  margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /*
      Remove as "setas" do input number, nos navegadores: Chrome, Safari, Edge, Opera.
     */
}
