.conteudo {
  margin: 50px 30px 0 30px;
  color: #202022;
}
.titulo {
  margin: 0px 0px 30px 0px;
}
.texto-titulo {
  margin: 0px 0px 30px 0px;
}
.subconteudo {
  display: flex;
}
.btn-comec {
  background-color: #202022;
  margin: 30px 50px 30px 50px;
  width: 150px;
  border-radius: 10px;
  font-weight: bold;
  color: #cacaca;
  border: none;
  transition: background-color 0.5s;
  height: 35px;
}

.btn-comec:hover {
  background-color: #00bbc9;
  margin: 30px 50px 30px 50px;
  width: 150px;
  border-radius: 10px;
  color: #202022;
  border: none;
  height: 35px;
  cursor: pointer;
}
